#root {
  width: 100vw;
  height: 100vh;
}
.App {
  display: flex;
  flex-direction: row;
  min-width: 100%;
}

.Sidebar {
  background: rgba(255, 255, 255, 0.01);
  min-width: 200px;
  padding: 20px 10px;
  min-height: 100vh;
}

.SketchView {
  min-height: 100%;
  min-width: 100%;
}

.SketchView > div,
.SketchView > div > canvas {
  min-height: 100%;
  min-width: 100%;
}

.SidebarItem {
  flex-direction: row;
  align-items: center;
  padding: 12px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  line-height: 1;
}

.SidebarItem[data-aria-selected='true'] {
  background-color: #eee;
  color: #333;
}
